

.searchInput-wrapper{
    display: flex;
    align-items: center;
    position: fixed;
    top: 18px;
    right: 50px;
    z-index: 10;
}


.searchInput-notSelected{
    display: none;
}


.searchInput{
    height: 20px;
    width: 182px;
    padding: 6px;
    background-color: rgba(36, 36, 36, 0.5);
    border: 1px solid white;
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.02em;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
  
}

.searchInput-selected{
    display: flex;
    padding: 6px 0px 6px 30px;

}

.searchInput-icon-notSelected{
    right: 35px;
}
.searchInput-icon-Selected{
    right: 235px;
}

.searchInput-icon{
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    position: fixed;
    top: 24px;

}

