.movieDetail-wrapper * {
  color: white;
}

.movieDetail-wrapper {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: black;
}

.movieDetail-wrapper .movieDetail-info {
  margin-top: 40px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-btn-wrapper {
  margin: 0px 0px 10px 37px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-btn-wrapper :hover {
  color: #E50914;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.movieDetail-wrapper .movieDetail-info .length-year-rating-wrapper {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 480px 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e1e1e1;
  padding-left: 0px;
}

.movieDetail-wrapper .movieDetail-info .length-year-rating-wrapper * {
  color: #e1e1e1;
  margin-left: 8px;
}

.movieDetail-wrapper .movieDetail-info .length-year-rating-wrapper .movieDetail-length {
  margin-left: 40px;
}

.movieDetail-wrapper .movieDetail-info .length-year-rating-wrapper .movieDetail-rating {
  padding: 4px 6px;
  background-color: grey;
  color: #0B0B0B;
  border-radius: 5px;
  font-size: 14px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-title-wrapper h3 {
  font-size: 3em;
  width: 65%;
  margin-left: 40px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .imdb-rating img {
  width: 34px;
  height: 40px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .imdb-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20px 20px 43px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .imdb-rating p {
  margin-left: 10px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .metascore-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20px 20px 10px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .metascore-rating img {
  width: 28px;
  height: 28px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .metascore-rating p {
  margin-left: 10px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .add-favorite {
  margin: 23px 20px 20px 10px;
  cursor: pointer;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-rating-favorites-wrapper .add-favorite .movieDetail-favorite {
  font-size: 1.8em;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-plot-wrapper {
  margin: 5px 0px 10px 43px;
  width: 60%;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  font-weight: lighter;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-plot-wrapper h5 {
  color: #b6b6b6;
  font-size: 1.1em;
  margin-bottom: 10px;
  font-weight: lighter;
  letter-spacing: 0.1em;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-cast-genre-director-wrapper {
  margin: 20px 0px 300px 45px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 20% 25%;
      grid-template-columns: 25% 20% 25%;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-cast-genre-director-wrapper * {
  padding-left: 0px;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-cast-genre-director-wrapper h5 {
  color: #b6b6b6;
  font-size: 1em;
  margin: 10px 0px;
  font-weight: lighter;
  letter-spacing: 0.1em;
}

.movieDetail-wrapper .movieDetail-info .movieDetail-cast-genre-director-wrapper li {
  font-size: 14px;
  color: #e1e1e1;
  font-weight: lighter;
  margin-top: 4px;
}

.movieDetail-wrapper .movieDetail-poster-wrapper {
  margin-top: 40px;
}

.movieDetail-wrapper .movieDetail-poster-wrapper img {
  width: 300px;
  height: 445px;
}

@media only screen and (max-width: 1200px) {
  .movieDetail-plot-wrapper {
    width: 80% !important;
  }
  .movieDetail-title-wrapper h3 {
    width: 75% !important;
  }
  .movieDetail-cast-genre-director-wrapper {
    -ms-grid-columns: 33% 25% 25% !important;
        grid-template-columns: 33% 25% 25% !important;
  }
}

@media only screen and (max-width: 800px) {
  .movieDetail-btn-wrapper {
    margin: 0px 0px 10px -2px !important;
    text-shadow: 0.5px 0.5px 1px #000;
  }
  .movieDetail-btn-wrapper :hover {
    text-shadow: none;
  }
  .movieDetail-btn-wrapper span {
    font-size: 2em;
  }
  .movieDetail-wrapper {
    margin-top: 150px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (50%)[2];
        grid-template-rows: repeat(2, 50%);
  }
  .movieDetail-wrapper div:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .movieDetail-wrapper .movieDetail-title-wrapper h3, .movieDetail-wrapper .movieDetail-length, .movieDetail-wrapper .movieDetail-year {
    text-shadow: 1px 1px 1px #000;
  }
  .movieDetail-wrapper .movieDetail-rating {
    color: white !important;
  }
  .movieDetail-wrapper .movieDetail-poster-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 50px;
  }
  .movieDetail-wrapper .movieDetail-poster-wrapper img {
    width: 100%;
    height: 100%;
  }
  .movieDetail-wrapper .movieDetail-info {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, black));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 30%);
    position: relative;
    bottom: 500px;
    margin: 20px 49px;
  }
  .movieDetail-title-wrapper h3, .imdb-rating, .movieDetail-plot-wrapper, .movieDetail-cast-genre-director-wrapper {
    margin-left: 0px !important;
  }
  .movieDetail-length, .imdb-rating img {
    margin-left: 1px !important;
  }
  .imdb-rating img {
    width: 17px !important;
    height: 20px !important;
  }
  .metascore-rating img {
    width: 13px !important;
    height: 13px !important;
  }
  .movieDetail-rating {
    font-size: 0.8em !important;
    padding: 2.5px 4px !important;
  }
}

@media only screen and (max-width: 400px) {
  * {
    font-size: 0.9em;
  }
  .movieDetail-cast li, .movieDetail-genre li, .movieDetail-director li {
    font-size: 10px !important;
  }
}
/*# sourceMappingURL=MovieDetail.css.map */