.featured-img{
    width: 100vw;
    object-fit: cover;
}

.feature-dscrptn-img-wrapper{
    position: relative;
    bottom: 300px;

    
}

.feature-dscrptn-img{
    width: 370px;
    margin-left: 30px;
}